In [1]:
from zipfile import ZipFile
from urllib.request import urlopen   
import pandas as pd
import os

URLs = ['https://s3.amazonaws.com/tripdata/201501-citibike-tripdata.zip',\
       'https://s3.amazonaws.com/tripdata/201502-citibike-tripdata.zip',\
       'https://s3.amazonaws.com/tripdata/201503-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201504-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201505-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201506-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201507-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201508-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201509-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201510-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201511-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201512-citibike-tripdata.zip']
       
dfs=[]
for URL in URLs:

    url = urlopen(URL)
    output = open('zipFile.zip', 'wb')         
    output.write(url.read())
    output.close()


    df = pd.read_csv('zipFile.zip')      
    dfs.append(df)

In [71]:
dfs[1].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,801,2015-02-01 00:00:00,2015-02-01 00:14:00,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
1,379,2015-02-01 00:00:00,2015-02-01 00:07:00,497,E 17 St & Broadway,40.737050,-73.990093,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,1
2,2474,2015-02-01 00:01:00,2015-02-01 00:42:00,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,2
3,818,2015-02-01 00:01:00,2015-02-01 00:15:00,2004,6 Ave & Broome St,40.724399,-74.004704,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2
4,544,2015-02-01 00:01:00,2015-02-01 00:10:00,323,Lawrence St & Willoughby St,40.692362,-73.986317,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,1

In [77]:
dfs[5].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,2015-06-01 00:00:00,2015-06-01 00:22:00,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,2015-06-01 00:00:00,2015-06-01 00:05:00,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,2015-06-01 00:01:00,2015-06-01 00:11:00,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,2015-06-01 00:01:00,2015-06-01 00:04:00,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,2015-06-01 00:02:00,2015-06-01 00:22:00,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

In [70]:
dfs[4].head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,415,2015-05-01 00:00:11,2015-05-01 00:07:06,477,W 41 St & 8 Ave,40.756405,-73.990026,442,W 27 St & 7 Ave,40.746647,-73.993915,17012,Subscriber,1981.0,1
1,1523,2015-05-01 00:00:28,2015-05-01 00:25:52,293,Lafayette St & E 8 St,40.730287,-73.990765,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,17390,Customer,NaN,0

In [72]:
dfs[6].head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970.0,1
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984.0,1

In [79]:
print('Converting month:')
for month in range(12):
    if month <6 :
        print('... ' + str(month + 1))
        dfs[month]['starttime'] = pd.to_datetime(dfs[month]['starttime'])
        dfs[month]['stoptime'] = pd.to_datetime(dfs[month]['stoptime'])

    else:
        print('... ' + str(month + 1))
        dfs[month]['starttime'] = pd.to_datetime(dfs[month]['starttime'],
                                                 format = '%m/%d/%Y %H:%M:%S')
        dfs[month]['stoptime'] = pd.to_datetime(dfs[month]['stoptime'],
                                                format = '%m/%d/%Y %H:%M:%S')

Converting month:
... 1
... 2
... 3
... 4
... 5
... 6
... 7
... 8
... 9
... 10
... 11
... 12

In [80]:

        3dfs[month]['stoptime'] = pd.to_datetime(dfs[month]['stoptime'],

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 16)

In [83]:
dfs[11].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,475,2015-12-01 07:35:36,2015-12-01 07:43:32,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760647,-73.984427,22780,Subscriber,1983.0,1
1,684,2015-12-01 07:38:15,2015-12-01 07:49:39,72,W 52 St & 11 Ave,40.767272,-73.993929,520,W 52 St & 5 Ave,40.759923,-73.976485,17787,Subscriber,1975.0,1
2,1063,2015-12-01 07:44:49,2015-12-01 08:02:33,72,W 52 St & 11 Ave,40.767272,-73.993929,358,Christopher St & Greenwich St,40.732916,-74.007114,18797,Subscriber,1966.0,1
3,1075,2015-12-01 08:02:29,2015-12-01 08:20:24,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,14625,Subscriber,1985.0,1
4,293,2015-12-01 08:06:37,2015-12-01 08:11:30,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,21238,Subscriber,1968.0,1

In [84]:

df = pd.concat(dfs)
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,2015-01-01 00:01:00,2015-01-01 00:24:00,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,2015-01-01 00:02:00,2015-01-01 00:08:00,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,2015-01-01 00:04:00,2015-01-01 00:10:00,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,2015-01-01 00:04:00,2015-01-01 00:07:00,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,2015-01-01 00:05:00,2015-01-01 00:21:00,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1
5,496,2015-01-01 00:07:00,2015-01-01 00:15:00,512,W 29 St & 9 Ave,40.750073,-73.998393,383,Greenwich Ave & Charles St,40.735238,-74.000271,20788,Subscriber,1969.0,2
6,152,2015-01-01 00:07:00,2015-01-01 00:09:00,498,Broadway & W 32 St,40.748549,-73.988084,474,5 Ave & E 29 St,40.745168,-73.986831,19006,Subscriber,1972.0,1
7,1183,2015-01-01 00:08:00,2015-01-01 00:28:00,405,Washington St & Gansevoort St,40.739323,-74.008119,174,E 25 St & 1 Ave,40.738177,-73.977387,17640,Subscriber,1985.0,2
8,846,2015-01-01 00:09:00,2015-01-01 00:23:00,450,W 49 St & 8 Ave,40.762272,-73.987882,488,W 39 St & 9 Ave,40.756458,-73.993722,15691,Subscriber,1991.0,1
9,576,2015-01-01 00:10:00,2015-01-01 00:20:00,160,E 37 St & Lexington Ave,40.748238,-73.978311,174,E 25 St & 1 Ave,40.738177,-73.977387,17837,Subscriber,1991.0,1
10,540,2015-01-01 00:10:00,2015-01-01 00:19:00,291,Madison St & Montgomery St,40.713126,-73.984844,151,Cleveland Pl & Spring St,40.721816,-73.997203,16947,Subscriber,1979.0,1
11,419,2015-01-01 00:11:00,2015-01-01 00:18:00,517,Pershing Square South,40.751581,-73.977910,540,Lexington Ave & E 26 St,40.741473,-73.983209,14807,Subscriber,1980.0,1
12,751,2015-01-01 00:13:00,2015-01-01 00:25:00,290,2 Ave & E 58 St,40.760203,-73.964785,507,E 25 St & 2 Ave,40.739126,-73.979738,16702,Subscriber,1987.0,1
13,332,2015-01-01 00:13:00,2015-01-01 00:18:00,361,Allen St & Hester St,40.716059,-73.991908,438,St Marks Pl & 1 Ave,40.727791,-73.985649,17342,Subscriber,1988.0,1
14,1099,2015-01-01 00:14:00,2015-01-01 00:32:00,317,E 6 St & Avenue B,40.724537,-73.981854,2012,E 27 St & 1 Ave,40.739445,-73.976806,19909,Subscriber,1983.0,1
15,649,2015-01-01 00:14:00,2015-01-01 00:25:00,488,W 39 St & 9 Ave,40.756458,-73.993722,434,9 Ave & W 18 St,40.743174,-74.003664,19584,Subscriber,1979.0,1
16,614,2015-01-01 00:14:00,2015-01-01 00:24:00,285,Broadway & E 14 St,40.734546,-73.990741,312,Allen St & E Houston St,40.722055,-73.989111,19202,Subscriber,1959.0,1
17,1196,2015-01-01 00:16:00,2015-01-01 00:36:00,466,W 25 St & 6 Ave,40.743954,-73.991449,454,E 51 St & 1 Ave,40.754557,-73.965930,20683,Subscriber,1971.0,1
18,1426,2015-01-01 00:17:00,2015-01-01 00:40:00,360,William St & Pine St,40.707179,-74.008873,391,Clark St & Henry St,40.697601,-73.993446,21554,Subscriber,1977.0,1
19,1262,2015-01-01 00:18:00,2015-01-01 00:39:00,485,W 37 St & 5 Ave,40.750380,-73.983390,251,Mott St & Prince St,40.723180,-73.994800,16894,Subscriber,1980.0,1
20,707,2015-01-01 00:18:00,2015-01-01 00:30:00,449,W 52 St & 9 Ave,40.764618,-73.987895,509,9 Ave & W 22 St,40.745497,-74.001971,14598,Subscriber,1972.0,1
21,307,2015-01-01 00:18:00,2015-01-01 00:23:00,474,5 Ave & E 29 St,40.745168,-73.986831,476,E 31 St & 3 Ave,40.743943,-73.979661,18834,Subscriber,1962.0,1
22,1053,2015-01-01 00:19:00,2015-01-01 00:37:00,164,E 47 St & 2 Ave,40.753231,-73.970325,523,W 38 St & 8 Ave,40.754666,-73.991382,15617,Subscriber,1987.0,1
23,446,2015-01-01 00:20:00,2015-01-01 00:27:00,522,E 51 St & Lexington Ave,40.757148,-73.972078,518,E 39 St & 2 Ave,40.747804,-73.973442,15812,Subscriber,1988.0,1
24,1251,2015-01-01 00:21:00,2015-01-01 00:41:00,217,Old Fulton St,40.702772,-73.993836,313,Washington Ave & Park Ave,40.696102,-73.967510,19780,Customer,NaN,0
25,797,2015-01-01 00:21:00,2015-01-01 00:35:00,513,W 56 St & 10 Ave,40.768254,-73.988639,488,W 39 St & 9 Ave,40.756458,-73.993722,16761,Subscriber,1969.0,1
26,503,2015-01-01 00:21:00,2015-01-01 00:30:00,243,Fulton St & Rockwell Pl,40.688226,-73.979382,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,14570,Customer,NaN,0
27,1639,2015-01-01 00:22:00,2015-01-01 00:49:00,382,University Pl & E 14 St,40.734927,-73.992005,352,W 56 St & 6 Ave,40.763406,-73.977225,18320,Subscriber,1996.0,2
28,1175,2015-01-01 00:22:00,2015-01-01 00:42:00,217,Old Fulton St,40.702772,-73.993836,313,Washington Ave & Park Ave,40.696102,-73.967510,16610,Customer,NaN,0
29,470,2015-01-01 00:22:00,2015-01-01 00:30:00,243,Fulton St & Rockwell Pl,40.688226,-73.979382,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,20804,Subscriber,1986.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804095,774,2015-12-31 18:50:41,2015-12-31 19:03:36,3238,E 80 St & 2 Ave,40.773914,-73.954395,3177,W 84 St & Broadway,40.786795,-73.977112,16964,Subscriber,1975.0,1
804096,926,2015-12-31 21:13:54,2015-12-31 21:29:21,3238,E 80 St & 2 Ave,40.773914,-73.954395,3140,1 Ave & E 78 St,40.771404,-73.953517,22435,Subscriber,1976.0,1
804097,279,2015-12-24 17:08:10,2015-12-24 17:12:49,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,344,Monroe St & Bedford Ave,40.685144,-73.953809,19527,Subscriber,1988.0,1
804098,249,2015-12-26 17:56:26,2015-12-26 18:00:36,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,344,Monroe St & Bedford Ave,40.685144,-73.953809,22679,Subscriber,1977.0,2
804099,1835,2015-12-28 08:13:00,2015-12-28 08:43:36,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,309,Murray St & West St,40.714979,-74.013012,23200,Subscriber,1977.0,1
804100,310,2015-12-28 14:36:14,2015-12-28 14:41:24,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3056,Kosciuszko St & Nostrand Ave,40.690725,-73.951335,19615,Subscriber,1977.0,2
804101,331,2015-12-28 20:08:29,2015-12-28 20:14:00,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3057,Kosciuszko St & Tompkins Ave,40.691283,-73.945242,17518,Subscriber,1986.0,1
804102,479,2015-12-29 13:49:38,2015-12-29 13:57:38,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,437,Macon St & Nostrand Ave,40.680983,-73.950048,17562,Subscriber,1967.0,1
804103,1833,2015-12-30 08:42:55,2015-12-30 09:13:29,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,309,Murray St & West St,40.714979,-74.013012,23868,Subscriber,1977.0,1
804104,729,2015-12-30 09:05:03,2015-12-30 09:17:12,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3065,Union Ave & Wallabout St,40.700295,-73.950323,18719,Subscriber,1979.0,2
804105,206,2015-12-30 12:30:16,2015-12-30 12:33:42,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3055,Greene Ave & Nostrand Ave,40.688334,-73.950916,18978,Subscriber,1986.0,1
804106,237,2015-12-30 21:10:34,2015-12-30 21:14:32,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3052,Lewis Ave & Madison St,40.686312,-73.935775,22785,Subscriber,1982.0,1
804107,200,2015-12-31 08:09:56,2015-12-31 08:13:17,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,437,Macon St & Nostrand Ave,40.680983,-73.950048,23224,Subscriber,1988.0,1
804108,2069,2015-12-31 08:56:46,2015-12-31 09:31:15,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,309,Murray St & West St,40.714979,-74.013012,23778,Subscriber,1977.0,1
804109,1255,2015-12-31 15:56:35,2015-12-31 16:17:30,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3095,Graham Ave & Herbert St,40.719293,-73.945004,22814,Customer,NaN,0
804110,393,2015-12-30 15:24:41,2015-12-30 15:31:14,3242,Schermerhorn St & Court St,40.691029,-73.991834,391,Clark St & Henry St,40.697601,-73.993446,16574,Subscriber,1950.0,2
804111,298,2015-12-30 16:01:14,2015-12-30 16:06:12,3242,Schermerhorn St & Court St,40.691029,-73.991834,406,Hicks St & Montague St,40.695128,-73.995951,16794,Subscriber,1956.0,1
804112,270,2015-12-30 18:11:21,2015-12-30 18:15:52,3242,Schermerhorn St & Court St,40.691029,-73.991834,406,Hicks St & Montague St,40.695128,-73.995951,24246,Subscriber,1969.0,1
804113,278,2015-12-30 22:30:17,2015-12-30 22:34:56,3242,Schermerhorn St & Court St,40.691029,-73.991834,323,Lawrence St & Willoughby St,40.692362,-73.986317,17440,Subscriber,1956.0,1
804114,1155,2015-12-31 11:48:49,2015-12-31 12:08:05,3242,Schermerhorn St & Court St,40.691029,-73.991834,323,Lawrence St & Willoughby St,40.692362,-73.986317,23239,Subscriber,1966.0,2
804115,498,2015-12-31 12:00:05,2015-12-31 12:08:23,3242,Schermerhorn St & Court St,40.691029,-73.991834,3222,Hanson Pl & St Felix St,40.685160,-73.977114,15594,Subscriber,1990.0,2
804116,313,2015-12-31 13:44:49,2015-12-31 13:50:03,3242,Schermerhorn St & Court St,40.691029,-73.991834,391,Clark St & Henry St,40.697601,-73.993446,23510,Subscriber,1982.0,1
804117,531,2015-12-31 15:05:11,2015-12-31 15:14:02,3242,Schermerhorn St & Court St,40.691029,-73.991834,467,Dean St & 4 Ave,40.683125,-73.978951,23901,Subscriber,1979.0,1
804118,1483,2015-12-31 15:50:37,2015-12-31 16:15:20,3242,Schermerhorn St & Court St,40.691029,-73.991834,412,Forsyth St & Canal St,40.715816,-73.994224,23410,Customer,NaN,0
804119,1463,2015-12-31 15:50:52,2015-12-31 16:15:15,3242,Schermerhorn St & Court St,40.691029,-73.991834,412,Forsyth St & Canal St,40.715816,-73.994224,20212,Customer,NaN,0
804120,509,2015-12-31 16:50:17,2015-12-31 16:58:46,3242,Schermerhorn St & Court St,40.691029,-73.991834,261,Johnson St & Gold St,40.694749,-73.983625,22282,Subscriber,1957.0,1
804121,591,2015-12-31 17:17:52,2015-12-31 17:27:43,3242,Schermerhorn St & Court St,40.691029,-73.991834,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,22366,Subscriber,1978.0,1
804122,197,2015-12-31 17:56:22,2015-12-31 17:59:39,3242,Schermerhorn St & Court St,40.691029,-73.991834,157,Henry St & Atlantic Ave,40.690893,-73.996123,20663,Subscriber,1959.0,1
804123,372,2015-12-31 21:20:38,2015-12-31 21:26:50,3242,Schermerhorn St & Court St,40.691029,-73.991834,467,Dean St & 4 Ave,40.683125,-73.978951,19782,Subscriber,1987.0,1
804124,395,2015-12-31 21:49:19,2015-12-31 21:55:55,3242,Schermerhorn St & Court St,40.691029,-73.991834,418,Front St & Gold St,40.702240,-73.982578,23411,Subscriber,1968.0,1

In [ ]:
df.shape

(9937969, 15)

In [ ]:
df.to_csv('Data/citibike_2015.csv', encoding='utf-8', index=False)